# This is a link that provides more context on why and how
# we can use `requirements.txt` and `setup.py` together:
# https://caremad.io/posts/2013/07/setup-vs-requirement/

--index-url https://pypi.python.org/simple/

-e .